@media (max-width: 768px) {
  /* Стили для мобильных устройств */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.ProductCard {
  margin: 10px;
  }
@media screen and (max-width: 768px) {
  .ProductCard {
  width: 45%; /* изменение ширины для мобильных устройств */
  }
  }

@media only screen and (max-width: 768px) {
  .main-content h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
.ProductCard {
width: 80%; /* изменение ширины для более узких экранов */
}
}

button{
  color: blueviolet;
}