.carousel-container {
    margin-bottom: 50px;
  }

  .carousel-container h2 {
    text-align: center;
  }

  .ant-card-cover img {
    width: 110%;
  }

  .carousel-container {
    margin: 45px;
    border-radius: 4px;
    }

