.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование карточек по горизонтали */
  }
  
  .ant-card {
    flex: 1 0 calc(25% - 14px); /* Ширина карточки, 25% на всех экранах, с учетом внешних отступов */
    max-width: calc(25% - 20px); /* Максимальная ширина карточки */
    margin: 2px; /* Внешний отступ между карточками */
    flex-shrink: 0; /* Отключение сжатия карточки */
  }