.card-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
    max-width: 970px;
    margin-left: auto !important;
    margin-right: auto !important;
}
  .card-container .ant-col {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .card-container .ant-card {
    width: 100%;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .card-container .ant-col {
      flex-basis: calc(33.33% - 20px);
      max-width: calc(33.33% - 20px);
      margin: 10px;
    }
    .card-container {
      max-width: 1200px;
    }
  }

  .container {
    text-align: center;
  }
  .button {
    background-color: purple;
    color: white;
  }