/* На телефонах и планшетах отображаем только 2 карты в ряд */
@media (max-width: 767px) {
  .card-container .ant-col {
    width: 50%;
  }
}

/* На планшетах отображаем 2 карты в ряд */
@media (min-width: 768px) and (max-width: 991px) {
  .card-container .ant-col {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .card-container .ant-col {
    width: 50%;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Центрирование карточек по горизонтали */
}

.card-container .ant-card {
  width:  290px;
  height: 290px;
  margin: 100px;
  }
