
/* Стилизация текста */
diva {
  font-size: 1.2rem; /* Размер шрифта */
  line-height: 1.5; /* Межстрочный интервал */
  margin-bottom: 490px; /* Опускаем текст на 40 пикселей */
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  color: #333;
}


  /* Style for the body text */
  .text {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  /* Style for the links */
  a {
    color: #0077cc;
    text-decoration: underline;
  }