.login-form {
    max-width: 300px;
    margin: 140px auto 140px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 159px;
  }
  
  .site-form-item-icon {
    color: rgba(0, 0, 0, 0.25);
  }
  
  .login-form-button {
    width: 100%;
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .login-form-forgot:hover {
    color: #1890ff;
  }
  
  .login-form-forgot a {
    color: #999;
  }
  
  .login-form-forgot a:hover {
    color: #9a7dac;
  }
  
  .login-form-register {
    margin-top: 16px;
    text-align: center;
  }
  
  .login-form-register a {
    color: #999;
  }
  
  .login-form-register a:hover {
    color: #9a7dac;
  }
  