.form-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 0;
}

  
.form-container .ant-form-item {
  margin-bottom: 16px;
}
  
.form-container .ant-form-item-label {
  text-align: left;
  padding: 0 8px;
}
  
.form-container .ant-form-item-control {
  padding: 0 8px;
}
  
.form-container .ant-form-item-control-input-content {
  display: flex;
  align-items: center;
}
  
.form-container .ant-form-item-explain {
  margin-left: 8px;
}
  
.form-container .ant-input-group-addon {
  padding: 0 8px;
}
  
.form-container .ant-btn {
  margin-right: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}